
/* ///////////page-2///////////////////////// */

.btnAll .btnSeason {
    border-radius: 2rem !important;
    transition: 0.3s ease-in-out;
}

/* Hover */
.btnAll .btnSeason:hover {
    background-color: #b2ecb2;
    border: none;
}

/* Focus */
.btnAll .btnSeason:focus {
    background-color: #206d24;
    color: white !important;
    border: none;
}

.btnAll .btnSeason:focus small {
    color: white !important;
}
.card{
  border-radius: 40px !important;
  overflow: hidden;
  
}
.card:hover{
transform: scale(1.04); 
 transition: 0.4s ease;
}
.moreInfo{
  background-color: #b2ecb2;
  border-radius: 15px;
}
.modal-content .modalImg{
    border-radius: 20px !important;
   width: 90%;
    overflow: hidden;  
}